
/* shared styles  */
*{
    margin:0;
    padding:0;
}
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.btn{
    background-color: #30B868;
    padding:12px 16px;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
     display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}
h1{
    font-size: 72px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 18px;
}
main{
    width: 85%;
    max-width: 1360px;
    margin:0 auto;
}
.margin-b-16{
    margin-bottom: 16px;
}
.margin-b-40{
    margin-bottom: 40px;
}


/* nav style start  */

nav{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-middle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}
.nav-middle li a{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

/* nav style end  */

/* banner style start  */
#banner{
    height: 100vh;
  background-image: url("./images/banner-img.jpg");
  background-size: cover;
  background-position: center;
  
  text-align: center;
}
.banner-container{
    max-width: 1360px;
    max-height: 380px;
    margin: 0 auto;
    padding-top: 340px;
    /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
}
.early-access-btn{
    padding:8px 12px;
    color: #30B868;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    margin: 0 auto;
    border: 0;
    margin-bottom: 16px;
}
.access-circle{
    height: 16px;
    width: 16px;
    background-color: #30B868;
    border-radius: 50%;
}
.thinking{
    color: rgba(255, 255, 255, 1);
}
.taking{
    color:rgba(48, 184, 104, 1);
}
.banner-p{
    margin-top:16px;
    margin-bottom:32px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.play-btn{
    background-color: inherit;
    border: 1px solid #FFFFFF;

}
/* banner style end  */

/* structure area style start  */
.structure-area{
    padding-top:70px;
    /* padding-bottom: 70px; */

}
.structure-card-container{
    margin-top: 44px;
    /* padding: 24px; */
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.structure-heading{
    text-align: center;
}
.structure-heading h2{
    font-weight: 700;
    margin-bottom: 16px;
}
.structure-heading p{
    color: #627382;
    font-weight: 300;
}
.card-img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
}
.card{
    /* box-shadow: rgba(0, 0, 0, 0.06); */
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
text-align: center;
padding: 42px;
}
.card-img img{
    height: 32px;
    width: 32px;
}
.card-sub-title{
    font-size: 24px;
    font-weight: 700px;
    color: #001931;
}
.card p{
    color: #627382;
    font-size: 16px;
    font-weight: 300;
}

/* second brain styles  */
.brain-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 120px 0;
}
.brain-img-side img{
    max-width: 600px;
    max-height: 600px;
    /* width: 100%;
    height: 100%; */
}
.brain-content{
    padding:30px 50px;
}

.brain-sub-title h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-title h2{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-bottom: 16px
}
.brain-description{
    color: #627382;
    font-weight: 300;
    margin-bottom: 40px
}
.features-item{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}
/* think more styles  */
.think-more-container{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(247, 246, 242, 1);
    padding: 80px 40px;
    gap: 16px;
}
.think-more-title{
    font-size: 40px;
}
.think-more-description{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200px;
    margin-bottom: 10px;
}
.think-more-footer{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    font-weight: 200px;
}

/* footer style start here  */

footer{
    background-color: #001931;
}
.footer-container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.footer-top{
    display: flex;
    justify-content: space-between;
padding-bottom: 50px;
padding-top: 120px;
padding-right: 107px;
}
.social-links p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}
.link-icons{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.divider {
  border: none;
  height: 1px;
  background-color: #E5E7EB;
  margin:30px 0;
  opacity: 0.2;
}
.rights-reserved{
    color:#FAFAFA;
    text-align: center;
    padding-bottom: 30px;
}
/* button hover  */

.btn:hover {
    background: linear-gradient(90deg, #0edd8e, #0d4c10);
    transition: 4s;
}
